node_modules/
.env
database/codecase.db
src/database/codecase.db
public/uploads/images/*
public/uploads/attachments/*
!public/uploads/images/.gitkeep
!public/uploads/attachments/.gitkeep
cookies.txt
.DS_Store
